<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center">Add a campground</h1>
        <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
            <form action="/campgrounds" method="post" class="validated-form" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Enter a title:</label>
                    <input type="text" id="title" name="campground[title]" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide a name for the campground.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Enter the location:</label>
                    <input type="text" id="location" name="campground[location]" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide a location.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Campground price:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" id="price" name="campground[price]" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="0.00" required>
                        <div class="invalid-feedback">
                            Please provide a price.
                        </div>
                    </div>
                </div>

                <input type="file" name="image" id="" class="form-control" multiple>
                <!-- <div class="mb-3">
                    <label for="image" class="form-label">Image URL:</label>
                    <input type="text" id="image" name="campground[image]" class="form-control" required>
                    <div class="invalid-feedback">
                        Please provide an image.
                    </div>
                </div> -->

                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea type="text" id="description" name="campground[description]" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                        Please provide a description.
                    </div>
                </div>
                <button class="btn btn-primary">Add Campground</button>
            </form>

            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>

